@font-face {
    font-family: Makebond;
    src: url(../fonts/Makebond.otf);
}

@font-face {
    font-family: HappyTown;
    src: url(../fonts/Happy\ Town.otf);
}

@font-face {
    font-family: Draken;
    src: url(../fonts/Draken.ttf);
}