body {
    background: linear-gradient(180deg, rgba(27,74,161,1) 0%, rgba(22,13,100,1) 100%);
    margin: 0 auto;
    height: 100%;
    min-height: 950px;
    font-family: Draken;    
}

.cabecalho {
    display: flex;
    background-color: #B6B6B6;
    justify-content: space-between;
}

.cabecalho img {
    padding: 20px;
    max-width: 200px;
    max-height: 200px;
}

#titulo {
    margin-top: 4%;
    font-size: 50px;
    font-family: HappyTown;
    background-color: #E0D9D9;
    padding: 20px;
    border-radius: 30px;
    align-self: center;

}

#venomoth {
    min-width: 200px;
}

.capturas {
    display:inline-block;
    align-self: center;
    margin-left: 40%;
    margin-top: 20px;
    background-color: #320A90;
    padding: 30px;
    border-radius: 40px;
    font-size: 30px;
    color: white;
}