body {
    background: linear-gradient(180deg, rgba(27,74,161,1) 0%, rgba(22,13,100,1) 100%);
    margin: 0 auto;
    height: 100%;
    min-height: 950px;
    font-family: Draken;    
}

.cabecalho {
    display: flex;
    background-color: #B6B6B6;
    justify-content: space-between;
}

.cabecalho img {
    padding: 20px;
    max-width: 200px;
    max-height: 200px;
}

#titulo {
    margin-top: 4%;
    font-size: 50px;
    font-family: HappyTown;
    background-color: #E0D9D9;
    padding: 20px;
    border-radius: 30px;
    align-self: center;

}

#venomoth {
    min-width: 200px;
}

#elements {
    justify-items: center;
}

.capturas {
    margin-top: 10%;
    display:inline-block;
    align-self: center;
    background-color: #320A90;
    padding: 30px;
    border-radius: 40px;
    font-size: 30px;
}

#show-caughts{
    text-transform: none;
    text-decoration: none;
    color: white;
    align-self: center;
    justify-content: center;
}

.formulary {
    margin-top: 50px;
    justify-content: column;
    justify-items: center;
    color: #F0FFFF;
    display: block;
}

#sbmt-btn {
    margin-top: 50px;
    display: block;
    padding: 20px 80px;
    background-color: #B22222;
    border-radius: 30px;
    border: none;
    font-family: HappyTown;
    font-size: 25px;
    color: #F0FFFF;
    border: 1px solid white;
}

#sbmt-btn:hover {
    background-color: white;
    color: red;
}

.text-form {
    padding: 10px 180px;
}